Repository tigrisdata-community/tygen: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier -w, go tool templ fmt, go tool goimports -w

chore: de-brand from xe/project-template
  .copilot-instructions.md
  .github/workflows/docker.yaml
  .releaserc.yaml
  Dockerfile
  docker-bake.hcl
  package.json
  release.config.mjs
Due: prettier -w

chore: format code when testing
  package.json
Due: prettier -w

ci: remove yaml anchor
  .github/workflows/go.yaml
  docs/flow.md
Due: prettier -w

feat: basic submission form and server side response logic
  .devcontainer/devcontainer.json
  .gitignore
  .prettierignore
  cmd/web/main.go
  cmd/web/server.go
  go.mod
  go.sum
  package-lock.json
  package.json
  tailwind.css
  web/base.templ
  web/base_templ.go
  web/formresponse.templ
  web/formresponse_templ.go
  web/index.templ
  web/index_templ.go
  web/static/css/xess.css
  web/static/img/carousel/.gitignore
  web/static/img/carousel/Makefile
  web/static/img/carousel/data-surfing-kanagawa.webp
  web/static/img/carousel/directly-to-you.webp
  web/static/img/carousel/ducklake-serenade.webp
  web/static/img/carousel/gotta-go-fast.webp
  web/static/img/carousel/nat-ty-sharing.webp
  web/static/img/carousel/office-datasets.webp
  web/static/img/carousel/pickleball.webp
  web/static/img/carousel/the-future-if.webp
  web/static/img/carousel/xiyatu.webp
Due: prettier -w, go tool templ fmt, go tool goimports -w

feat: generate images
  .dockerignore
  Dockerfile
  cmd/web/server.go
  go.mod
  go.sum
  models/dao.go
  models/image.go
  web/base.go
  web/base.templ
  web/base_templ.go
  web/formresponse.templ
  web/formresponse_templ.go
  web/index.templ
  web/index_templ.go
  web/static/css/spinner.css
  web/static/img/greet.png
Due: prettier -w, go tool templ fmt, go tool goimports -w

feat: generate images
  cmd/web/main.go
  cmd/web/server.go
  web/formresponse.templ
  web/formresponse_templ.go
  web/image.templ
  web/image_templ.go
  web/static/img/ref/nat.png
  web/static/img/ref/ty.png
Due: go tool templ fmt, go tool goimports -w

chore: rip out valkey
  .devcontainer/docker-compose.yaml
  .gitignore
  cmd/web/main.go
  cmd/web/middleware.go
  cmd/web/server.go
  cmd/web/server_test.go
  models/dao.go
  models/dao_test.go
  models/flash.go
  models/modelstest/database.go
  models/valkey.go
  web/base.templ
  web/base_templ.go
Due: go tool templ fmt, go tool goimports -w

ci: add wait for postgres to be ready
  .github/workflows/go.yaml
Due: none

ci: aha, github actions makes you expose a port
  .github/workflows/go.yaml
Due: none

chore: fully rip out redis
  cmd/web/server.go
  go.mod
  go.sum
  models/valkeycache/valkeycache.go
  package.json
Due: prettier -w, go tool goimports -w

ci: tagged versions to main
  .github/workflows/docker_tags.yaml
  docker-bake.hcl
Due: none

ci: make go/node install steps consistent
  .github/workflows/commitlint.yaml
  .github/workflows/go.yaml
  .github/workflows/release.yaml
Due: none

fix(web): blur in-progress images
  web/formresponse.templ
  web/formresponse_templ.go
  web/image.templ
  web/image_templ.go
Due: go tool templ fmt, go tool goimports -w

chore: install flyctl in the development container
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: prettier -w

chore: deploy to fly.io
  .devcontainer/devcontainer.json
  .github/workflows/fly-deploy.yml
  .vscode/extensions.json
  Dockerfile
  fly.toml
Due: prettier -w

chore: format
  .github/workflows/fly-deploy.yml
Due: none

fix: return nil when image not found in GetByUUID
  models/image.go
Due: go tool goimports -w

refactor: use image.Prompt() for prompt generation
  cmd/web/server.go
Due: go tool goimports -w

Path conditions:
  prettier -w: any of: **/*.{js,ts,html,json,css,scss,md,mdx,jsx,tsx}
  go tool templ fmt: any of: **/*.templ
  go tool goimports -w: any of: **/*.go
